/.byebug_history
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/firmware/6502_functional_test/6502_functional_test.bin
/firmware/6502_functional_test/6502_functional_test.lst
/cartridges/
